* {
    box-sizing: border-box;
}

.flex-container {
    display: flex;
}

/* Header */

header {
    border: 2px solid black;
    border-bottom: none;
    text-align: center;
    overflow: auto;
}

.navbar {
padding: 5px 10px;
}

#pfp, #name {
    float: left;
}

#nav {
    float: right;
}

#title {
    clear: both;
    margin: 50px;
}

/* Main */

main {
    border: 2px solid black;
    border-bottom: none;
}

.columns {
    flex-direction: row;
}

.container {
    height: 50%;
}

.mid {
    width: 50%;
    border-left: 2px solid black;
    border-right: 2px solid black;
}

.side {
    width: 25%;
    padding: 10px;
}

.article {
    padding: 20px;
}

#border {
    border: 1px solid black;
}

/* Footer */

footer {
    border: 2px solid black;
    padding: 10px;
}

.reviews {
    flex-direction: row;
    justify-content: center;
}

.review {
    border: 2px solid black;
    border-radius: 50px;
    width: 20%;
    margin: auto;
}

.bubble {
    padding: 1.5rem;
}


.teacher {
    color: grey;
    margin: 0%;
}

#copyright {
    text-align: center;
}