/* General */

* {
    box-sizing: border-box;
}

html {
    font-family: sans-serif;
}

body {
    border: 2px solid black;
}

.center {
    text-align: center;
}

/* Header */

.navbar {
    overflow: auto;
    float: none;
}

#name {
    float: left;
    width: 50%;
    padding-top: .5%;
    padding-left: 2%;
}

#nav {
    float: right;
    text-align: right;
    width: 50%;
    padding-top: .5%;
    padding-right: 2%;
}

#position {
    font-size: 48px;
    padding: 0;
    margin-bottom: 0;
}

#description {
    font-size: 16px;
    font-style: italic;
    padding: 0;
}

/* Main */

main {
    overflow: auto;
}

.column {
    float: left;
    width: 33.33%;
    height: 100%;
}

/* Footer */

.reviews {
    overflow: auto;
}

.review {
    font-size: 16;
    float: left;
    width: 20%;
    border: 2px solid black;
    border-radius: 75px;
    margin: 0%;
}

#copyright {
    text-align: center;
}